@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan";
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 25%;
    text-align: center;
}

.titulo{
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 25vw;
    border-radius: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
}

.portada{
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: #737373;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
}

.portada img{
    width: 24vw;
    margin: 0.5vw;
    border-radius: 10px
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.random{
    background-color: #067612;
    border:3px solid #00B213;
    color: white;
    padding: 1rem;
    border-radius: 16px;
    font-weight: bolder;
} 

select{
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 16px;
    font-weight: bolder;
}
